<table border="1">
  <thead>
    <tr>
      <th *ngFor="let field of changelogFields" class="table-header-color text-centered bold">
        <button md-button class="table-header-color text-centered">{{field}}</button>
      </th>
      <th *ngFor="let number of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]" class="table-header-color bold">
        <button md-button class="table-header-color text-centered">{{getMonthWithOffset(number) | month}}, {{getYearWithMonthOffset(number)}}</button>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor='let log of changelogs'>
      <td *ngFor="let field of changelogFields" class="text-centered">{{log[field]}}</td>
      <!-- Forecasts -->
      <td *ngFor="let number of [-1, 0, 1, 2, 3, 4]" class="text-centered">
        ${{findValueWithMonthOffset(log, number)}}
      </td>
  </tbody>
</table>