

<div class="tab-content">
  <div id="home" class="tab-pane fade in active">
    <!-- First entry table with two columns of input boxe -->
    <br>
    <div class="row">
      <div class="col-md-10">
        <form role="form" data-toggle="validator" class="form-horizontal" name="form1" method="POST">
          <div class="form-group">
            <label for="serviceoffice" class="col-sm-2 control-label">Service Office</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="serviceoffice" placeholder="Service Office" required>
            </div>
          </div>
          <div class="form-group">
            <label for="spl" class="col-sm-2 control-label">SPL</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="spl" placeholder="SPL" required>
            </div>
          </div>
          <div class="form-group">
            <label for="dmm" class="col-sm-2 control-label">DMM</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="dmm" placeholder="DMM" required>
            </div>
          </div>
          <div class="form-group">
            <label for="em_ade" class="col-sm-2 control-label">Delivery Manager</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="delivery_manager" placeholder="Delivery Manager" required>
            </div>
          </div>
          <div class="form-group">
            <label for="em_ade" class="col-sm-2 control-label">SE</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="se" placeholder="SE" required>
            </div>
          </div>
          <div class="form-group" style="float:right;">
            <div class="col-sm-10">
              <button type="submit" id="save1" class="btn btn-success">Save</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div id="menu1" class="tab-pane fade">
    <div class="col-md-10">
      <br>
      <form data-toggle="validator" class="form-horizontal" name="form2" method="POST">
        <div class="form-group">
          <label for="se" class="col-sm-2 control-label">Account Name</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="account_name" placeholder="Account Name" required>
          </div>
        </div>
        <div class="form-group">
          <label for="segment" class="col-sm-2 control-label">Segment</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="segment" placeholder="Segment" required>
          </div>
        </div>
        <div class="form-group">
          <label for="tpid" class="col-sm-2 control-label">TPID</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="tpid" placeholder="TPID" required>
          </div>
        </div>
        <div class="form-group">
          <label for="cpcode" class="col-sm-2 control-label">CPCode</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="cpcode" placeholder="CPCode" required>
          </div>
        </div>
        <div class="form-group">
          <label for="gsx_id" class="col-sm-2 control-label">GSX Id</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="gsx_id" placeholder="GSX id" required>
          </div>
        </div>
        <div class="form-group">
          <label for="description" class="col-sm-2 control-label">Description</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="description" placeholder="Description" required>
          </div>
        </div>
        <div class="form-group" style="float:right;">
            <div class="col-sm-10">
              <button type="submit" id="save2" class="btn btn-success">Save</button>
            </div>
          </div>
      </form>
    </div>
  </div>

  <div id="menu2" class="tab-pane fade">
    <div class="row">
      <div class="col-md-10">
        <br>
        <form data-toggle="validator" name="form3" class="form-horizontal" method="POST">
          <div class="form-group">
            <label for="ext_int" class="col-sm-2 control-label">EXT/INT</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="ext_int" placeholder="EXT/INT" required>
            </div>
          </div>
          <div class="form-group">
            <label for="funding_source" class="col-sm-2 control-label">Funding Source</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="funding_source" placeholder="Funding Source" required>
            </div>
          </div>
          <div class="form-group">
            <label for="engagement_type" class="col-sm-2 control-label">Engagement Type</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="engagement_type" placeholder="Engagement Type" required>
            </div>
          </div>
          <div class="form-group">
            <label for="likelihood" class="col-sm-2 control-label">Likelihood</label>
            <div class="col-sm-10">
              <label class="radio-inline"><input type="radio" name="optradio">Low</label>
              <label class="radio-inline"><input type="radio" name="optradio">Medium</label>
              <label class="radio-inline"><input type="radio" name="optradio">High</label>
            </div>
          </div>
          <div class="form-group">
            <label for="contract_values" class="col-sm-2 control-label">Contract Values</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="contract_values" placeholder="Contract Values" required>
            </div>
          </div>
        </form>
      </div>
    </div>
    <br>

        <!-- begin second table -->
    <div class="" id="input_1">
      
      <div class="col-md-5">
        <form class="form-horizontal" method="POST">
          <div class="form-group">
            <label for="startdate" class="col-sm-4 control-label">Project Start Date</label>
            <div class="col-sm-6 input-group date" data-provide="datepicker">
              <input type="text" class="form-control" id="startdate" placeholder="MM/DD/YYYY" disabled>
              <div class="input-group-addon" style="background:white">
                  <span class="glyphicon glyphicon-calendar"></span>
              </div>
            </div>
          </div>
        </form>
      </div>
        
      <div class="col-md-6">
        <form class="form-horizontal" method="POST">
          <div class="form-group">
            <label for="enddate" class="col-sm-4 control-label">Project End Date</label>
            <div class="col-sm-6 input-group date" data-provide="datepicker">
              <input type="text" class="form-control" id="enddate" placeholder="MM/DD/YYYY" disabled>
              <div class="input-group-addon" style="background:white">
                  <span class="glyphicon glyphicon-calendar"></span>
              </div>
            </div>
          </div>
        </form>
      </div>
  
    </div>


    <!-- hidden div -->

    <div class="centered" id="input_2" style="display:none;text-align:center" layout-align="center center">
      <b>Enter Monthly Revenue Forecast</b>
      <br><br>
      <table align="center" id="tableHolder"></table>
    </div>
    <br>

    <!-- end -->
    <div class="row">
      <div class="col-md-3">
        <div class="" >
          <button style="display:none" id="back" class="btn btn-large btn-primary" type="button">Back..</button>
        </div>
      </div>
      <div class="col-md-6">
        <div class="centered" style="text-align:center">
          <button id="next" class="btn btn-large btn-success" style="width:30%" type="button">Next</button>
        </div>
      </div>
    </div>
    <br>
  </div>

  <div id="menu3" class="tab-pane fade">
    <!-- First entry table with two columns of input boxe -->
    <br>
    <div class="row">
      <div class="col-md-10">
        <form role="form" data-toggle="validator" class="form-horizontal" method="POST">
          <div class="form-group">
            <label for="comments" class="col-sm-2 control-label">Comments</label>
            <div class="col-sm-10">
              <textarea class="form-control" id="comments" placeholder="Comments.." rows=3 required></textarea>
            </div>
          </div>
          <div class="form-group" style="float:right;">
            <div class="col-sm-10">
              <button type="submit" id="submit" class="btn btn-success">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

</div>

  




