<nav md-tab-nav-bar style="position:fixed;z-index:1;background:white;width:100%;">
  <a md-tab-link
     *ngFor="let link of navLinks"
     [hidden]="!link.path"
     [routerLink]="link.path"
     routerLinkActive #rla="routerLinkActive"
     [active]="rla.isActive"
     style="font-weight:bold;">
    {{link.label}}
  </a>
  <button class="mat-tab-link" style="font-weight:bold;" onclick="exportTableToCSV('Projected_Forecasts.csv')" md-button>EXPORT TO CSV</button>
</nav>
<br><br><br><br>
<router-outlet></router-outlet>
