<div class="container">
  <header flex>
    <md-toolbar style="position:fixed;z-index:1" color="primary">
      <div class="md-toolbar-tools">
        <span><h1 style="font-weight:bold;">{{ title }}</h1></span>
        <span class="fill-remaining-space"></span>
      </div>
    </md-toolbar>
  </header>
  <br><br><br>
  <main flex>
    <my-nav-buttons></my-nav-buttons>
  </main>
  <!--<footer>
    <md-toolbar class="md-scroll-shrink" color="default">
      <div class="md-toolbar-tools" flex>
        <span><h6>&copy; Microsoft :: {{ currentDate | date }}</h6></span>
        <span class="fill-remaining-space"></span>
      </div>
    </md-toolbar>
  </footer>-->
</div>


<footer style="position: absolute;bottom: 0;width: 100%;height: 60px;background-color: #f5f5f5;">
  <div class="container md-toolbar-tools">
    <h6 class="text-muted">&copy; Microsoft :: {{ currentDate | date }}</h6>
  </div>
</footer>