<div class="container">
  <header flex>
    <md-toolbar color="primary">
      <div class="md-toolbar-tools">
        <span><h1>{{ title }}</h1></span>
        <span class="fill-remaining-space"></span>
      </div>
    </md-toolbar>
  </header>
  <main flex>
    <my-nav-buttons></my-nav-buttons>
  </main>
  <footer>
    <md-toolbar class="md-scroll-shrink" color="default">
      <div class="md-toolbar-tools" flex>
        <span><h6>&copy; Microsoft :: {{ currentDate | date }}</h6></span>
        <span class="fill-remaining-space"></span>
      </div>
    </md-toolbar>
  </footer>
</div>
