<table id="myTable2" border="1" *ngIf='services && services.length'>
  <thead>
    <tr>
      <th onclick="sortTable(1)" style="background-color:lightsteelblue">
        <button md-button style="background-color:lightsteelblue;font-weight:bold;width:100%;text-align:center">Likelihood</button>
      </th>
      <th onclick="sortTable(2)" style="background-color:lightsteelblue">
        <button md-button style="background-color:lightsteelblue;font-weight:bold;width:100%;text-align:center">Type</button>
      </th>
      <th onclick="sortTable(3)" style="background-color:lightsteelblue;">
        <button md-button style="background-color:lightsteelblue;font-weight:bold;width:100%;text-align:center">FundingSource</button>
      </th>
      <th onclick="sortTable(4)" style="background-color:lightsteelblue">
        <button md-button style="background-color:lightsteelblue;font-weight:bold;width:100%;text-align:center">CP_Code</button>
      </th>
      <th onclick="sortTable(5)" style="background-color:lightsteelblue">
        <button md-button style="background-color:lightsteelblue;font-weight:bold;width:100%;text-align:center">Description</button>
      </th>
      <th onclick="sortTable(6)" style="background-color:lightsteelblue">
        <button md-button style="background-color:lightsteelblue;font-weight:bold;width:100%;text-align:center">Comments</button>
      </th>
      <th onclick="sortTable(7)" style="background-color:lightsteelblue">
        <button md-button style="background-color:lightsteelblue;font-weight:bold;width:100%;text-align:center">ContractValue</button>
      </th>
      <th onclick="sortTable(8)" style="background-color:lightsteelblue">
        <button md-button style="background-color:lightsteelblue;font-weight:bold;width:100%;text-align:center">DecrementAmount</button>
      </th>
      <th onclick="sortTable(9)" style="background-color:lightsteelblue">
        <button md-button style="background-color:lightsteelblue;font-weight:bold;width:100%;text-align:center">DecrementMonth</button>
      </th>
      <th onclick="sortTable(10)" style="background-color:lightsteelblue">
        <button md-button style="background-color:lightsteelblue;font-weight:bold;width:100%;text-align:center">DecrementReason</button>
      </th>
      <th onclick="sortTable(11)" style="background-color:lightsteelblue">
        <button md-button style="background-color:lightsteelblue;font-weight:bold;width:100%;text-align:center">AccountName</button>
      </th>
      <th onclick="sortTable(12)" style="background-color:lightsteelblue">
        <button md-button style="background-color:lightsteelblue;font-weight:bold;width:100%;text-align:center">TPID</button>
      </th>
      <th onclick="sortTable(13)" style="background-color:lightsteelblue">
        <button md-button style="background-color:lightsteelblue;font-weight:bold;width:100%;text-align:center">SE</button>
      </th>
      <th onclick="sortTable(14)" style="background-color:lightsteelblue">
        <button md-button style="background-color:lightsteelblue;font-weight:bold;width:100%;text-align:center">SalesManager</button>
      </th>
      <th onclick="sortTable(15)" style="background-color:lightsteelblue">
        <button md-button style="background-color:lightsteelblue;font-weight:bold;width:100%;text-align:center">ATU</button>
      </th>
      <th onclick="sortTable(16)" style="background-color:lightsteelblue">
        <button md-button style="background-color:lightsteelblue;font-weight:bold;width:100%;text-align:center">Segment</button>
      </th>
      <th onclick="sortTable(17)" style="background-color:lightsteelblue">
        <button md-button style="background-color:lightsteelblue;font-weight:bold;width:100%;text-align:center">DMMOwner</button>
      </th>
      <th onclick="sortTable(18)" style="background-color:lightsteelblue">
        <button md-button style="background-color:lightsteelblue;font-weight:bold;width:100%;text-align:center">OpName</button>
      </th>
      <th onclick="sortTable(19)" style="background-color:lightsteelblue">
        <button md-button style="background-color:lightsteelblue;font-weight:bold;width:100%;text-align:center">FR</button>
      </th>
      <th onclick="sortTable(20)" style="background-color:lightsteelblue">
        <button md-button style="background-color:lightsteelblue;font-weight:bold;width:100%;text-align:center">SalesStage</button>
      </th>
      <th onclick="sortTable(21)" style="background-color:lightsteelblue">
        <button md-button style="background-color:lightsteelblue;font-weight:bold;width:100%;text-align:center">DueDate</button>
      </th>
      <th onclick="sortTable(22)" style="background-color:lightsteelblue">
        <button md-button style="background-color:lightsteelblue;font-weight:bold;width:100%;text-align:center">OpValue</button>
      </th>
      <th onclick="sortTable(23)" style="background-color:lightsteelblue">
        <button md-button style="background-color:lightsteelblue;font-weight:bold;width:100%;text-align:center">ServiceOffice</button>
      </th>
      <th onclick="sortTable(24)" style="background-color:lightsteelblue">
        <button md-button style="background-color:lightsteelblue;font-weight:bold;width:100%;text-align:center">GM</button>
      </th>
      <th onclick="sortTable(25)" style="background-color:lightsteelblue">
        <button md-button style="background-color:lightsteelblue;font-weight:bold;width:100%;text-align:center">SPL</button>
      </th>
      <th onclick="sortTable(26)" style="background-color:lightsteelblue">
        <button md-button style="background-color:lightsteelblue;font-weight:bold;width:100%;text-align:center">DMM</button>
      </th>
      <th onclick="sortTable(27)" style="background-color:lightsteelblue">
        <button md-button style="background-color:lightsteelblue;font-weight:bold;width:100%;text-align:center">EM</button>
      </th>
      <th onclick="sortTable(28)" style="background-color:lightsteelblue">
        <button md-button style="background-color:lightsteelblue;font-weight:bold;width:100%;text-align:center">Forecasts</button>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr class="sortme" *ngFor='let service of services'>
      
      <!-- Likelihood -->
      <td *ngIf="service.Likelihood == 'High'" class="sortablerow" style="width:100%;background-color:#e74c3c">
        <!-- Red Button when Likelihood = 'High' -->
        <button md-button style="width:100%;background-color:#e74c3c;color:white;" (click)="buttonWasPressed('Likelihood');openDialog(service.EntityId)">{{service.Likelihood}}</button>
      </td>

      <td *ngIf="service.Likelihood == 'Med'" class="sortablerow" style="width:100%;background-color:#ffbb33">
        <!-- Yellow Button when Likelihood = 'Med' -->
        <button md-button style="width:100%;background-color:#ffbb33;color:white;" (click)="buttonWasPressed('Likelihood');openDialog(service.EntityId)">{{service.Likelihood}}</button>
      </td>

      <td *ngIf="service.Likelihood == 'Low'" class="sortablerow" style="width:100%;background-color:#18bc9c">
        <!-- Green Button when Likelihood = 'Low' -->
        <button md-button style="width:100%;background-color:#18bc9c;color:white;" (click)="buttonWasPressed('Likelihood');openDialog(service.EntityId)">{{service.Likelihood}}</button>
      </td>

      <!-- Type -->
      <td class="sortablerow"><button style="width:100%" md-button (click)="buttonWasPressed('Type');openDialog(service.EntityId)">{{ service.Type }}</button></td>

      <!-- FundingSource -->
      <td class="sortablerow"><button style="width:100%" md-button (click)="buttonWasPressed('FundingSource');openDialog(service.EntityId)">{{ service.FundingSource }}</button></td>

      <!-- CP_Code -->
      <td class="sortablerow"><button style="width:100%" md-button (click)="buttonWasPressed('CP_Code');openDialog(service.EntityId)">{{ service.CP_Code }}</button></td>

      <!-- Description -->
      <td class="sortablerow"><button style="width:100%" md-button (click)="buttonWasPressed('Description');openDialog(service.EntityId)">{{ service.Description }}</button></td>

      <!-- Comments -->
      <td class="sortablerow"><button style="width:100%" md-button (click)="buttonWasPressed('Comments');openDialog(service.EntityId)">{{ service.Comments }}</button></td>

      <!-- ContractValue -->
      <td class="sortablerow"><button style="width:100%" md-button (click)="buttonWasPressed('ContractValue');openDialog(service.EntityId)">{{ service.ContractValue | number }}</button></td>

      <!-- DecrementAmount -->
      <td class="sortablerow"><button style="width:100%" md-button (click)="buttonWasPressed('DecrementAmount');openDialog(service.EntityId)">{{ service.DecrementAmount | number }}</button></td>

      <!-- DecrementMonth -->
      <td class="sortablerow"><button style="width:100%" md-button (click)="buttonWasPressed('DecrementMonth');openDialog(service.EntityId)">{{ service.DecrementMonth | number:'1.0-0' }}</button></td>

      <!-- DecrementReason -->
      <td class="sortablerow"><button style="width:100%" md-button (click)="buttonWasPressed('DecrementReason');openDialog(service.EntityId)">{{ service.DecrementReason }}</button></td>

      <!-- AccountName -->
      <td class="sortablerow"><button style="width:100%" md-button (click)="buttonWasPressed('AccountName');openDialog(service.EntityId)">{{ service.AccountName }}</button></td>

      <!-- TPID -->
      <td class="sortablerow"><button style="width:100%" md-button (click)="buttonWasPressed('TPID');openDialog(service.EntityId)">{{ service.TPID | number:'1.0-0' }}</button></td>

      <!-- SE -->
      <td class="sortablerow"><button style="width:100%" md-button (click)="buttonWasPressed('SE');openDialog(service.EntityId)">{{ service.SE }}</button></td>

      <!-- SalesManager -->
      <td class="sortablerow"><button style="width:100%" md-button (click)="buttonWasPressed('SalesManager');openDialog(service.EntityId)">{{ service.SalesManager }}</button></td>

      <!-- ATU -->
      <td class="sortablerow"><button style="width:100%" md-button (click)="buttonWasPressed('ATU');openDialog(service.EntityId)">{{ service.ATU }}</button></td>

      <!-- Segment -->
      <td class="sortablerow"><button style="width:100%" md-button (click)="buttonWasPressed('Segment');openDialog(service.EntityId)">{{ service.Segment }}</button></td>

      <!-- DMMOwner -->
      <td class="sortablerow"><button style="width:100%" md-button (click)="buttonWasPressed('DMMOwner');openDialog(service.EntityId)">{{ service.DMMOwner }}</button></td>

      <!-- OpName -->
      <td class="sortablerow"><button style="width:100%" md-button (click)="buttonWasPressed('OpName');openDialog(service.EntityId)">{{ service.OpName }}</button></td>

      <!-- FR -->
      <td class="sortablerow"><button style="width:100%" md-button (click)="buttonWasPressed('FR');openDialog(service.EntityId)">{{ service.FR | number }}</button></td>

      <!-- SalesStage -->
      <td class="sortablerow"><button style="width:100%" md-button (click)="buttonWasPressed('SalesStage');openDialog(service.EntityId)">{{ service.SalesStage }}</button></td>

      <!-- DueDate -->
      <td class="sortablerow"><button style="width:100%" md-button (click)="buttonWasPressed('DueDate');openDialog(service.EntityId)">{{ service.DueDate | date:'EEE, MMM d, y h:mm:ss a Z' }}</button></td>

      <!-- OpValue -->
      <td class="sortablerow"><button style="width:100%" md-button (click)="buttonWasPressed('OpValue');openDialog(service.EntityId)">{{ service.OpValue | number }}</button></td>

      <!-- ServiceOffice -->
      <td class="sortablerow"><button style="width:100%" md-button (click)="buttonWasPressed('ServiceOffice');openDialog(service.EntityId)">{{ service.ServiceOffice }}</button></td>

      <!-- GM -->
      <td class="sortablerow"><button style="width:100%" md-button (click)="buttonWasPressed('GM');openDialog(service.EntityId)">{{ service.GM }}</button></td>

      <!-- SPL -->
      <td class="sortablerow"><button style="width:100%" md-button (click)="buttonWasPressed('SPL');openDialog(service.EntityId)">{{ service.SPL }}</button></td>

      <!-- DMM -->
      <td class="sortablerow"><button style="width:100%" md-button (click)="buttonWasPressed('DMM');openDialog(service.EntityId)">{{ service.DMM }}</button></td>

      <!-- EM -->
      <td class="sortablerow"><button style="width:100%" md-button (click)="buttonWasPressed('EM');openDialog(service.EntityId)">{{ service.EM }}</button></td>

      <!--Forecasts -->
 <!--      <td class="sortablerow" style="width:100%;background-color:black;">
        <table border="1" frame=vsides *ngIf="service.Forecasts && service.Forecasts.length">
          <thead>
            <tr>
              <td *ngFor="let forecast of service.Forecasts" style="width:100%;background-color:black;">
                <button md-button style="width:100%;background-color:black;" (click)="forecastButtonWasPressed(forecast.ID);buttonWasPressed('Forecasts');openDialog(service.EntityId)"><span style="font-weight:bold;color:white;"><span style="color:#ffbb33;">{{ forecast.Month | month }}</span> | </span><span style="font-weight:bold;color:#18bc9c;">${{ forecast.Value | number }}</span></button>
              </td>
            </tr>
          </thead>
          <tbody>
          </tbody> -->
          <!--<span *ngFor="let forecast of service.Forecasts">
            <button md-button style="background-color:black;" (click)="buttonWasPressed('Forecasts');openDialog(service.EntityId)"><span style="font-weight:bold;color:white;"><span style="color:#ffbb33;">{{ forecast.Month | month }}</span> | </span><span style="font-weight:bold;color:#18bc9c;">${{ forecast.Value | number }}</span></button>
          </span>-->
  </tbody>
</table>