<table border="1" *ngIf='services && services.length'>
  <thead>
    <tr>
      <td><button md-button style="background-color:lightsteelblue;
                                   font-weight:bold;width:100%">ID</button></td>
      <td><button md-button style="background-color:lightsteelblue;
                                   font-weight:bold;width:100%">OwnerID</button></td>
      <td><button md-button style="background-color:lightsteelblue;
                                   font-weight:bold;width:100%">AccountID</button></td>
      <td><button md-button style="background-color:lightsteelblue;
                                   font-weight:bold;width:100%">Likelihood</button></td>
      <td><button md-button style="background-color:lightsteelblue;
                                   font-weight:bold;width:100%">Type</button></td>
      <td><button md-button style="background-color:lightsteelblue;
                                   font-weight:bold;width:100%">FundingSource</button></td>
      <td><button md-button style="background-color:lightsteelblue;
                                   font-weight:bold;width:100%">CP_Code</button></td>
      <td><button md-button style="background-color:lightsteelblue;
                                   font-weight:bold;width:100%">Description</button></td>
      <td><button md-button style="background-color:lightsteelblue;
                                   font-weight:bold;width:100%">Comment</button></td>
      <td><button md-button style="background-color:lightsteelblue;
                                   font-weight:bold;width:100%">ContractValue</button></td>
      <td><button md-button style="background-color:lightsteelblue;
                                   font-weight:bold;width:100%">DecrementAmount</button></td>
      <td><button md-button style="background-color:lightsteelblue;
                                   font-weight:bold;width:100%">DecrementMonth</button></td>
      <td><button md-button style="background-color:lightsteelblue;
                                   font-weight:bold;width:100%">DecrementReason</button></td>
      <td><button md-button style="background-color:lightsteelblue;
                                   font-weight:bold;width:100%">AccountName</button></td>
      <td><button md-button style="background-color:lightsteelblue;
                                   font-weight:bold;width:100%">TPID</button></td>
      <td><button md-button style="background-color:lightsteelblue;
                                   font-weight:bold;width:100%">SE</button></td>
      <td><button md-button style="background-color:lightsteelblue;
                                   font-weight:bold;width:100%">SalesManager</button></td>
      <td><button md-button style="background-color:lightsteelblue;
                                   font-weight:bold;width:100%">ATU</button></td>
      <td><button md-button style="background-color:lightsteelblue;
                                   font-weight:bold;width:100%">Segment</button></td>
      <td><button md-button style="background-color:lightsteelblue;
                                   font-weight:bold;width:100%">DMMOwner</button></td>
      <td><button md-button style="background-color:lightsteelblue;
                                   font-weight:bold;width:100%">OpName</button></td>
      <td><button md-button style="background-color:lightsteelblue;
                                   font-weight:bold;width:100%">FR</button></td>
      <td><button md-button style="background-color:lightsteelblue;
                                   font-weight:bold;width:100%">SalesStage</button></td>
      <td><button md-button style="background-color:lightsteelblue;
                                   font-weight:bold;width:100%">DueDate</button></td>
      <td><button md-button style="background-color:lightsteelblue;
                                   font-weight:bold;width:100%">OpValue</button></td>
      <td><button md-button style="background-color:lightsteelblue;
                                   font-weight:bold;width:100%">ServiceOffice</button></td>
      <td><button md-button style="background-color:lightsteelblue;
                                   font-weight:bold;width:100%">GM</button></td>
      <td><button md-button style="background-color:lightsteelblue;
                                   font-weight:bold;width:100%">SPL</button></td>
      <td><button md-button style="background-color:lightsteelblue;
                                   font-weight:bold;width:100%">DMM</button></td>
      <td><button md-button style="background-color:lightsteelblue;
                                   font-weight:bold;width:100%">EM</button></td>
      <td><button md-button style="background-color:lightsteelblue;
                                   font-weight:bold;width:100%">Forecasts</button></td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor='let service of services'>

      <!-- ID -->
      <td><button style="width:100%" md-button (click)="buttonWasPressed('ID');openDialog(service.ID)">{{ service.ID }}</button></td>

      <!-- OwnerId -->
      <td><button style="width:100%" md-button (click)="buttonWasPressed('OwnerId');openDialog(service.ID)">{{ service.OwnerId }}</button></td>

      <!-- AccountId -->
      <td><button style="width:100%" md-button (click)="buttonWasPressed('AccountId');openDialog(service.ID)">{{ service.AccountId | number:'1.0-0' }}</button></td>
      
      <!-- Likelihood -->
      <td>
        <!-- Red Button when Likelihood = 'High' -->
        <button md-button *ngIf="service.Likelihood == 'High'" style="width:100%;background-color:#e74c3c;color:white;" (click)="buttonWasPressed('Likelihood');openDialog(service.ID)">{{service.Likelihood}}</button>

        <!-- Yellow Button when Likelihood = 'Med' -->
        <button md-button *ngIf="service.Likelihood == 'Med'" style="width:100%;background-color:#ffbb33;color:white;" (click)="buttonWasPressed('Likelihood');openDialog(service.ID)">{{service.Likelihood}}</button>

        <!-- Green Button when Likelihood = 'Low' -->
        <button md-button *ngIf="service.Likelihood == 'Low'" style="width:100%;background-color:#18bc9c;color:white;" (click)="buttonWasPressed('Likelihood');openDialog(service.ID)">{{service.Likelihood}}</button>
      </td>

      <!-- Type -->
      <td><button style="width:100%" md-button (click)="buttonWasPressed('Type');openDialog(service.ID)">{{ service.Type }}</button></td>

      <!-- FundingSource -->
      <td><button style="width:100%" md-button (click)="buttonWasPressed('FundingSource');openDialog(service.ID)">{{ service.FundingSource }}</button></td>

      <!-- CP_Code -->
      <td><button style="width:100%" md-button (click)="buttonWasPressed('CP_Code');openDialog(service.ID)">{{ service.CP_Code }}</button></td>

      <!-- Description -->
      <td><button style="width:100%" md-button (click)="buttonWasPressed('Description');openDialog(service.ID)">{{ service.Description }}</button></td>

      <!-- Comments -->
      <td><button style="width:100%" md-button (click)="buttonWasPressed('Comments');openDialog(service.ID)">{{ service.Comments }}</button></td>

      <!-- ContractValue -->
      <td><button style="width:100%" md-button (click)="buttonWasPressed('ContractValue');openDialog(service.ID)">{{ service.ContractValue | number }}</button></td>

      <!-- DecrementAmount -->
      <td><button style="width:100%" md-button (click)="buttonWasPressed('DecrementAmount');openDialog(service.ID)">{{ service.DecrementAmount | number }}</button></td>

      <!-- DecrementMonth -->
      <td><button style="width:100%" md-button (click)="buttonWasPressed('DecrementMonth');openDialog(service.ID)">{{ service.DecrementMonth | number:'1.0-0' }}</button></td>

      <!-- DecrementReason -->
      <td><button style="width:100%" md-button (click)="buttonWasPressed('DecrementReason');openDialog(service.ID)">{{ service.DecrementReason }}</button></td>

      <!-- AccountName -->
      <td><button style="width:100%" md-button (click)="buttonWasPressed('AccountName');openDialog(service.ID)">{{ service.AccountName }}</button></td>

      <!-- TPID -->
      <td><button style="width:100%" md-button (click)="buttonWasPressed('TPID');openDialog(service.ID)">{{ service.TPID | number:'1.0-0' }}</button></td>

      <!-- SE -->
      <td><button style="width:100%" md-button (click)="buttonWasPressed('SE');openDialog(service.ID)">{{ service.SE }}</button></td>

      <!-- SalesManager -->
      <td><button style="width:100%" md-button (click)="buttonWasPressed('SalesManager');openDialog(service.ID)">{{ service.SalesManager }}</button></td>

      <!-- ATU -->
      <td><button style="width:100%" md-button (click)="buttonWasPressed('ATU');openDialog(service.ID)">{{ service.ATU }}</button></td>

      <!-- Segment -->
      <td><button style="width:100%" md-button (click)="buttonWasPressed('Segment');openDialog(service.ID)">{{ service.Segment }}</button></td>

      <!-- DMMOwner -->
      <td><button style="width:100%" md-button (click)="buttonWasPressed('DMMOwner');openDialog(service.ID)">{{ service.DMMOwner }}</button></td>

      <!-- OpName -->
      <td><button style="width:100%" md-button (click)="buttonWasPressed('OpName');openDialog(service.ID)">{{ service.OpName }}</button></td>

      <!-- FR -->
      <td><button style="width:100%" md-button (click)="buttonWasPressed('FR');openDialog(service.ID)">{{ service.FR | number }}</button></td>

      <!-- SalesStage -->
      <td><button style="width:100%" md-button (click)="buttonWasPressed('SalesStage');openDialog(service.ID)">{{ service.SalesStage }}</button></td>

      <!-- DueDate -->
      <td><button style="width:100%" md-button (click)="buttonWasPressed('DueDate');openDialog(service.ID)">{{ service.DueDate | date:'EEE, MMM d, y h:mm:ss a Z' }}</button></td>

      <!-- OpValue -->
      <td><button style="width:100%" md-button (click)="buttonWasPressed('OpValue');openDialog(service.ID)">{{ service.OpValue | number }}</button></td>

      <!-- ServiceOffice -->
      <td><button style="width:100%" md-button (click)="buttonWasPressed('ServiceOffice');openDialog(service.ID)">{{ service.ServiceOffice }}</button></td>

      <!-- GM -->
      <td><button style="width:100%" md-button (click)="buttonWasPressed('GM');openDialog(service.ID)">{{ service.GM }}</button></td>

      <!-- SPL -->
      <td><button style="width:100%" md-button (click)="buttonWasPressed('SPL');openDialog(service.ID)">{{ service.SPL }}</button></td>

      <!-- DMM -->
      <td><button style="width:100%" md-button (click)="buttonWasPressed('DMM');openDialog(service.ID)">{{ service.DMM }}</button></td>

      <!-- EM -->
      <td><button style="width:100%" md-button (click)="buttonWasPressed('EM');openDialog(service.ID)">{{ service.EM }}</button></td>

      <!--Forecasts -->
      <td>
        <table border="1" frame=vsides *ngIf="service.Forecasts && service.Forecasts.length">
          <thead>
            <tr>
              <td *ngFor="let forecast of service.Forecasts">
                <button md-button style="width:100%;background-color:black;" (click)="forecastButtonWasPressed(forecast.ID);buttonWasPressed('Forecasts');openDialog(service.ID)"><span style="font-weight:bold;color:white;"><span style="color:#ffbb33;">{{ forecast.Month | month }}</span> | </span><span style="font-weight:bold;color:#18bc9c;">${{ forecast.Value | number }}</span></button>
              </td>
            </tr>
          </thead>
          <tbody>
          </tbody>
          <!--<span *ngFor="let forecast of service.Forecasts">
            <button md-button style="background-color:black;" (click)="buttonWasPressed('Forecasts');openDialog(service.ID)"><span style="font-weight:bold;color:white;"><span style="color:#ffbb33;">{{ forecast.Month | month }}</span> | </span><span style="font-weight:bold;color:#18bc9c;">${{ forecast.Value | number }}</span></button>
          </span>-->
        </table>
        <div *ngIf="!(service.Forecasts && service.Forecasts.length)">TODO: Add Forecasts?</div>
      </td>
    </tr>
  </tbody>
</table>